<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile_image.jpg" %>
	</div>

	<div id="content">
		<h2>Автобіографія Ігора Дяковича</h2>
		<p>Народився 28 березня 1988 року в м. Львові. 
		В 2004 році закінчив СШ № 48 і поступив до Львівського державного коледжу харчової і переробної промисловості на заочну форму навчання. В цей же час почав трудову діяльність. Потім перевівся на навчання до Київського національного університету харчових технологій.
		Працював на будові, на Львівській пивній компанії, а з 2006 року – на постійному місці праці - в УГКЦ «Вознесіння Господнє».</p>
		<p>З 1998 року – член спільноти «Віра і Світло», з 2010 року – віце провінційний координатор спільноти «Віра і Світло» в Україні.</p>
		<p>В 2013 році потрапив під поїзд, внаслідок чого ампутували ногу. Кримінальну справу закрили, не зважаючи на явні порушення техніки безпеки з сторони залізничників, нікого до відповідальності не притягнули.</p>
		<p>Вже в 2014 році почав активно готуватися до виборів. Закінчив програму «Good Governance» – іноваційне державне управління» Львівської бізнес школи УКУ, і, за порадою одного з спікерів програми – Ігоря Коліушка – поступив до Київського Національного Університету ім.. Т. Шевченка на юридичний факультет, де зараз навчаюся.</p>
		<p>В липні 2015 року вступив до лав Української Галицької партії.</p>
		<p>В жовтні 2015 року був обраний депутатом Львівської міської ради.</p>
		<ul>
			<li>Заступник голови фракції «Української Галицької партії» в ЛМР;</li>
			<li>член комісії гуманітарної політики;</li>
			<li>член міжфракційної депутатської групи з питань учасників АТО та їх сімей;</li>
			<li>член житлової комісії при виконкомі ЛМР;</li>
			<li>учасник кількох робочих груп, зокрема комісії з питань доступності об’єктів інфраструктури для потреб інвалідів.</li>
		</ul>
		<p>Неодружений. Проживаю з матір’ю і братом.</p>
	</div>

	<iframe width="960" height="480" src="https://www.youtube.com/embed/3hoNdHoTSAw" frameborder="0" allowfullscreen></iframe>

</div>