<div id="page_wrapper">
	<center>
	<h2>Тут ви можете зв'язатися зі мною.</h2>
	<p>Тут буде фотка з датами і часом твоїх прийомів</p>
	</center>
	<div id="left_contact">
		<p>Тут телефони і адреси або ще щось</p>
	</div>

	<div id="right_contact">
		<p>Тут форма для відправки по e-mail</p>
	</div> 
</div>